@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
/* Variables
 * ---------------------------------------------------------------------------------------------- */
/* End Variables ------------------------------------------------------------------------------- */
/* Mixins
 * ---------------------------------------------------------------------------------------------- */
/* End Mixins ---------------------------------------------------------------------------------- */
/* Dark Theme
 * ---------------------------------------------------------------------------------------------- */
[data-theme=dark] body {
  color: #fafafa;
  background: #1e293b;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
[data-theme=dark] header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  min-height: 56px;
  max-height: 60px;
  border-bottom: 1px solid #0f172a;
  box-shadow: 0 1px 6px black;
  background-color: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-theme=dark] a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #fafafa;
}
[data-theme=dark] a:hover {
  text-decoration: underline;
  color: #4493f8;
  transform: scale(1.1);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
[data-theme=dark] button {
  font-size: 0.9rem;
  padding: 6px;
  color: #fafafa;
  border: 1px solid #fafafa;
  border-radius: 12px;
}
[data-theme=dark] button > a {
  color: inherit;
}
[data-theme=dark] button > a:hover {
  color: #0f172a;
}
[data-theme=dark] button:hover {
  color: #0f172a;
  background-color: #fafafa;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/* End Dark Theme ------------------------------------------------------------------------------ */
/* Light Theme
 * ---------------------------------------------------------------------------------------------- */
[data-theme=light] body {
  color: #0f172a;
  background: #fafafa;
  -webkit-transition: color 0.2s ease-in-out;
  -moz-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}
[data-theme=light] header {
  position: fixed;
  width: 100vw;
  height: 10vh;
  min-height: 56px;
  max-height: 60px;
  border-bottom: 1px solid #d4d4d8;
  box-shadow: 0 1px 6px #52525b;
  background-color: #d4d4d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
[data-theme=light] a {
  text-decoration: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  color: #0f172a;
}
[data-theme=light] a:hover {
  text-decoration: underline;
  color: #4493f8;
  transform: scale(1.1);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
[data-theme=light] button {
  font-size: 0.9rem;
  padding: 6px;
  color: #0f172a;
  border: 1px solid #0f172a;
  border-radius: 12px;
}
[data-theme=light] button > a {
  color: inherit;
}
[data-theme=light] button > a:hover {
  color: #d4d4d8;
}
[data-theme=light] button:hover {
  color: #d4d4d8;
  background-color: #0f172a;
  -webkit-transition: all 500ms ease-in-out;
  -moz-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

/* End Light Theme ----------------------------------------------------------------------------- */

/*# sourceMappingURL=styles.css.map */
