<div>
  <form>
    <div class="grid grid-cols-2 gap-4">
      <select (change)="onTypeChange($event)">
        <option value="" disabled selected>Selecione o tipo de veículo</option>
        <option *ngFor="let type of vehicleTypesObject | keyvalue"
                [value]="type.value">{{ 'vehicle.types.' + type.key | translate }}
        </option>
      </select>
      <select [disabled]="selectedType === undefined" (change)="onBrandChange($event)" >
        <option value="" disabled selected>Selectione a marca</option>
        <ng-container *ngIf="brandOptions.length">
          <option *ngFor="let option of brandOptions" [value]="option.id">{{ option.name }}</option>
        </ng-container>
      </select>
      <select [disabled]="selectedBrandId === undefined" class="max-h-20 overflow-y-scroll">
        <option value="" disabled selected>Selectione o modelo</option>
        <ng-container *ngIf="modelOptions.length">
          <option *ngFor="let option of modelOptions" [value]="option.id">{{ option.name }}</option>
        </ng-container>
      </select>
      <select>
        <option value="" disabled selected>Selectione o ano</option>
      </select>
      <select>
        <option value="" disabled selected>Selectione a versão</option>
      </select>
    </div>
  </form>
</div>

