<div class="grid grid-cols-3 gap-4">

  <button
    class="card"
    tabindex="0"
    (click)="selectVehicleType(0)"
    (keydown.enter)="selectVehicleType(0)"
    [ngClass]="{ 'active': selectedType === 0 }"
  >
    <div class="content-btn-type">
      <i class="material-symbols-outlined text-4xl">
        directions_car
      </i>
      <p>{{ 'vehicle.types.car' | translate }}</p>
    </div>
  </button>

  <button
    class="card"
    tabindex="0"
    (click)="selectVehicleType(1)"
    (keydown.enter)="selectVehicleType(1)"
    [ngClass]="{ 'active': selectedType === 1 }"
  >
    <div class="content-btn-type">
      <i class="material-symbols-outlined text-4xl">
        two_wheeler
      </i>
      <p>{{ 'vehicle.types.motorcycle' | translate }}</p>
    </div>
  </button>

  <button
    class="card"
    tabindex="0"
    (click)="selectVehicleType(2)"
    (keydown.enter)="selectVehicleType(2)"
    [ngClass]="{ 'active': selectedType === 2 }"
  >
    <div class="content-btn-type">
      <i class="material-symbols-outlined text-4xl">
        local_shipping
      </i>
      <p>{{ 'vehicle.types.truck' | translate }}</p>
    </div>
  </button>

</div>
