<h2 class="detail-section-header">Ofertas</h2>
<div *ngIf="!isLoading; else loading" class="mb-4">
  <div *ngIf="deals.length > 0; else noDeals">
    <div class="flex flex-col gap-4">
      <tcc-deal *ngFor="let deal of deals" [deal]="deal"></tcc-deal>
    </div>
  </div>
</div>

<h2 class="text-lg mb-2">Ofertas relacionadas</h2>
<div *ngIf="!isLoading; else loading">
  <div *ngIf="relatedDeals.length > 0; else noDeals">
    <div class="flex flex-col gap-4">
      <tcc-deal *ngFor="let deal of relatedDeals" [deal]="deal"></tcc-deal>
    </div>
  </div>
</div>

<ng-template #loading>Carregando...</ng-template>
<ng-template #noDeals>Nenhuma oferta encontrada</ng-template>
