<h2 class="detail-section-header">
  Ofertas
</h2>

<div class="flex flex-col gap-4">
  <a *ngFor="let deal of deals" class="flex justify-start gap-2 card p-0" [href]="deal.dealUrl" target="_blank">
    <div class="w-44 h-44 overflow-hidden">
      <img [src]="deal.imageUrl" [alt]="deal.versionName"
           class="w-full h-full object-cover transition-transform duration-300 hover:scale-110"/>
    </div>
    <div class="flex flex-col justify-center gap-2">
      <div class="flex flex-col">
        <span class="font-semibold tracking-wide">{{ deal.modelName }}</span>
        <span class="font-semibold tracking-wide text-sm">{{ deal.versionName }}</span>
      </div>
      <span class="font-bold text-2xl">{{ deal.price | currency: 'BRL':'symbol':'1.2-2' }}</span>
      <div class="flex flex-col text-sm">
        <span>{{ deal.year }}</span>
        <div class="flex gap-1 items-center">
          <i class="material-symbols-outlined text-xs">speed</i>
          <span>{{ deal.mileageInKm | number }} km</span>
        </div>
        <div class="flex gap-1 items-center">
          <i class="material-symbols-outlined text-xs">location_on</i>
          <span>{{ deal.city }} - {{ deal.state }}</span>
        </div>
      </div>
    </div>
  </a>
</div>
