<footer class="av-shared-bar bottom-0">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto py-4 px-4 xl:px-2 text-av-secondary-light dark:text-av-secondary">
    <div class="text-sm tracking-wide my-2 md:my-0">
      <small class="ml-0 pl-0 tracking-widest">
        &copy; 2024 <a href="https://ready.tec.br/t-academy?trk=test">T-Academy</a>
        Bootcamp.
      </small>
    </div>
    <ul class="flex items-center flex-wrap text-sm font-medium gap-4 my-2 md:my-0">
      <li>
        <a href="#" target="_blank">
          Instagram
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          Facebook
        </a>
      </li>
      <li>
        <a href="#" target="_blank">
          Linkedin
        </a>
      </li>
    </ul>
  </div>
</footer>
