<div class="w-1/2 m-auto">
  <div class="flex justify-center">
    <img [src]="vehicleDetails?.brandImageUrl" [alt]="vehicleDetails?.brand"/>
  </div>

  <h1 class="text-center text-2xl tracking-widest mb-8">{{ vehicleDetails?.name | uppercase }}</h1>
  <h2 class="vehicle-section-header">Tabela FIPE - Dados atuais</h2>

  <div class="flex flex-col justify-center items-start gap-4 mb-10">
    <div class="vehicle-stat">
      <span class="stat-header">fabricante</span>
      <span class="stat-content">{{ vehicleDetails?.brand | titlecase }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">modelo</span>
      <span class="stat-content">{{ vehicleDetails?.model | titlecase }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">ano</span>
      <span class="stat-content">{{ vehicleDetails?.year | titlecase }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">versão</span>
      <span class="stat-content">{{ vehicleDetails?.name | titlecase }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">código FIPE</span>
      <span class="stat-content">{{ vehicleDetails?.fipeCode | titlecase }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">mês de referência</span>
      <span class="stat-content">{{ latestFipePrice?.month }}/{{ latestFipePrice?.year }}</span>
    </div>

    <div class="vehicle-stat">
      <span class="stat-header">valor</span>
      <span class="stat-content">{{ latestFipePrice?.price | currency : 'BRL':'symbol':'1.2-2':'pt-BR' }}</span>
    </div>
  </div>

  <h2 class="vehicle-section-header">Tabela FIPE - Histórico recente</h2>

  <table class="table">
    <tr>
      <th>mês de referência</th>
      <th>valor</th>
    </tr>
    <tr *ngFor="let price of vehicleDetails?.fipePrices">
      <td>{{ price?.month }}/{{ price?.year }}</td>
      <td>{{ price?.price | currency:'BRL':'symbol':'1.2-2':'pt-BR' }}</td>
    </tr>
  </table>

</div>
