<header class="fixed tcc-shared-bar bg-primary-light dark:bg-primary">
  <div class="container-responsive py-4 w-full tcc-flex top-0 h-12">
    <a [routerLink]="['']" class="hover:border-none">
      <span class="text-3xl font-semibold">
        precifi<span class="text-highlight dark:text-highlight-light">car</span>
      </span>
    </a>

    <div class="flex justify-between items-center gap-4">
      <tcc-theme></tcc-theme>
      <tcc-language></tcc-language>
      <tcc-user class="hidden md:block h-10 pt-2"></tcc-user>

      <button
        (click)="toggleMenu()"
        (keydown.enter)="toggleMenu()"
        (keydown.escape)="closeMenu()"
        (clickOutside)="closeMenu()"
        tabindex="0"
        class="md:hidden cursor-pointer"
        tccOutsideClick
      >
        <i class="material-symbols-outlined">menu</i>
      </button>

    </div>
  </div>
</header>

<tcc-navbar [isOpen]="isOpen"></tcc-navbar>
