<header>
  <div class="container flex items-center justify-between">
    <fa-icon [icon]="faCar" class="text-1xl cursor-pointer" [routerLink]="['/']"></fa-icon>
    <h1>{{ 'home.title' | translate }}</h1>
    <div class="space-x-4 sw-100">
      <nav class="icons">
        <ul class="flex items-center space-x-4 w-full gap-2">
          <li><fa-icon [icon]="faLiked" [routerLink]="['/like']"/></li>
          <li><fa-icon [icon]="faAlert" [routerLink]="['/alert']"/></li>
          <li><fa-icon [icon]="faCompare" [routerLink]="['/vehicle-compare']"/></li>

          <li class="relative inline-block text-left dropdown-menu">
            <span (click)="toggleTheme()" (keydown)="handleKeyboardEvent($event)">
              <fa-icon [icon]="themeIcon" size="lg" class="mr-4"></fa-icon>
            </span>
          </li>

          <li>
            <span
              mat-button
              [matMenuTriggerFor]="languageMenu"
              aria-label="Language Menu"
              class="open-dropdown"
            >
              <img
                ngSrc="../../../assets/flags/{{currentLang}}.svg"
                alt="Flag {{ currentLang }}"
                title="{{ 'translate' | translate }}"
                width="18"
                height="18"
                class="rounded"
              />
            </span>
          </li>

          <mat-menu #languageMenu="matMenu" xPosition="before">
            <ng-container *ngFor="let lang of objectKeys(languages)">
              <span *ngIf="lang !== currentLang" mat-menu-item (click)="switchLang(lang)">
                {{ languages[lang] | translate }}
              </span>
            </ng-container>
          </mat-menu>

          <li>
            <span
              mat-button
              [matMenuTriggerFor]="userMenu"
              aria-label="User Menu"
            >
              <fa-icon [icon]="faUser"></fa-icon>
            </span>
          </li>

          <mat-menu #userMenu="matMenu" xPosition="before">
            <span mat-menu-item [routerLink]="['/']" class="w-full">
              {{ 'actions.edit' | translate: { object: ('profile' | translate) } }}
            </span>
            <span mat-menu-item (click)="logout()" class="w-full">
              {{ 'sign.out' | translate }}
            </span>
          </mat-menu>

        </ul>
      </nav>
    </div>
  </div>
</header>
