<header class="tcc-shared-bar top-0 h-20 min-h-20 w-full">
  <div class="max-w-screen-xl tcc-flex mx-auto py-4 px-4 xl:px-2 w-full">
    <h3>
      <a [routerLink]="['']" class="hover:border-none">
        precifi<span class="text-highlight dark:text-highlight-light">car</span>
      </a>
    </h3>
    <div class="hidden md:block">
      <tcc-navbar />
    </div>
<!--      <tcc-navbar-mobile />-->
    <div class="flex justify-between items-center gap-4">
      <tcc-theme />
      <tcc-language />
      <tcc-user />
      <i class="material-symbols-outlined">menu</i>
      <!--        <div class="relative inline-block text-left dropdown-menu">-->
      <!--            <i class="material-symbols-outlined">dark_mode</i>-->
      <!--          <button mat-icon-button [matMenuTriggerFor]="userMenu">-->
      <!--          </button>-->
      <!--        </div>-->
    </div>
  </div>
</header>
