<h4 class="my-2">{{ 'vehicle.list' | translate }}</h4>

<div class="container mx-auto p-4">
  <div *ngIf="vehicles.length === 0" class="text-center">
    <p>Nenhum veículo encontrado para o modelo "{{ selectedModelName }}".</p>
  </div>

  <div *ngIf="vehicles.length > 0" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <div
      *ngFor="let vehicle of vehicles"
      class="vehicle-card bg-white p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300"
      tabindex="0"
    >
      <h2 class="text-xl font-bold text-gray-800">{{ vehicle.name }}</h2>
      <p class="text-gray-600">{{ vehicle.year }}</p>
      <button
        class="text-blue-500 hover:underline mt-4"
        [routerLink]="['/vehicle-details', vehicle.id]"
      >
        View Details
      </button>

    </div>
  </div>
</div>
