<h4 class="my-2">{{ 'vehicle.brand' | translate }}</h4>
<div class="grid xl:grid-cols-9 lg:grid-cols-6 md:grid-cols-4 grid-cols-3 gap-2">
  <a
    *ngFor="let brand of brands"
    class="card"
    tabindex="0"
    [routerLink]="['/vehicles']"
    (click)="onSelectBrand(brand.id)"
    (keydown.enter)="onSelectBrand(brand.id)"
  >
    <div class="flex flex-col justify-center items-center gap-2">
      <img [src]="brand.imageUrl"  [alt]="brand.name"/>
      <p>{{ brand.name }}</p>
    </div>
  </a>
</div>
