<footer class="tcc-shared-bar bottom-0 bg-tertiary dark:bg-tertiary">
  <div class="container-responsive py-4">
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
      <div>
        <h4 class="text-xl">precifi<span class="text-highlight-light dark:text-highlight-light">car</span></h4>
        <p class="mt-2 text-sm">
          © 2024 {{ 'all_rights_reserved' | translate }}
        </p>
        <p class="text-sm">
          <a href="#" target="_blank">{{ 'about_us' | translate }}</a>
        </p>
      </div>

      <div>
        <h5>{{ 'explore' | translate }}</h5>
        <ul class="mt-2 space-y-1">
          <li><a href="#" class="text-sm">{{ 'vehicle.search' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'vehicle.fipe_table' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'vehicle.prices.alerts' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'vehicle.prices.history' | translate }}</a></li>
        </ul>
      </div>

      <div>
        <h5>{{ 'support.title' | translate }}</h5>
        <ul class="mt-2 space-y-1">
          <li><a href="#" class="text-sm">{{ 'support.help_and' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'support.faqs' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'support.terms_of_service' | translate }}</a></li>
          <li><a href="#" class="text-sm">{{ 'support.privacy_policy' | translate }}</a></li>
        </ul>
      </div>

      <div>
        <h5>{{ 'connect_with_us' | translate }}</h5>
        <ul class="mt-2 space-y-1">
          <li><a href="#" target="_blank">instagram</a></li>
          <li><a href="#" target="_blank">facebook</a></li>
          <li><a href="#" target="_blank">linkedin</a></li>
          <li><a href="#" target="_blank">youtube</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
