<main class="bg-secondary-light dark:bg-secondary mb-0 pb-0 mt-20 overflow-hidden text-center">
  <div class="max-w-screen tcc-flex flex-col">
    <p class="mt-2">{{ 'home.find_dream_car' | translate }}</p>
    <h2>{{ 'home.find_dream_car' | translate }}</h2>
    <img
      [src]="carImageMobile"
      alt="Tesla Car Image Mobile"
      class="block md:hidden"
      height="256"
      width="332"
    >
    <div class="search-wrapper tcc-flex">
      <input type="text" placeholder="{{ 'placeholder.search' | translate }}" class="outline-none">
      <span class="bg-highlight rounded-full inline-flex items-center justify-center h-8 w-8">
        <i class="material-symbols-outlined text-primary-light text-sm">search</i>
      </span>

    </div>
    <img
      [src]="carImageDesktop"
      alt="Tesla Car Image Desktop"
      class="hidden md:block"
      height="713"
      width="2332"
    >
    <div class="browse-type">
      <h4 class="my-2"> {{ 'vehicle.type' | translate }} </h4>
      <div class="tcc-flex gap-2">
        <div class="card">
          <div class="flex flex-col items-center p-4">
            <i class="material-symbols-outlined text-4xl">directions_car</i>
            <p>{{ 'vehicle.types.car' | translate }}</p>
          </div>
        </div>

        <div class="card">
          <div class="flex flex-col items-center p-4">
            <i class="material-symbols-outlined text-4xl">two_wheeler</i>
            <p>{{ 'vehicle.types.motorcycle' | translate }}</p>
          </div>
        </div>

        <div class="card">
          <div class="flex flex-col items-center p-4">
            <i class="material-symbols-outlined text-4xl">local_shipping</i>
            <p>{{ 'vehicle.types.truck' | translate }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
