<main class="bg-secondary-light dark:bg-secondary mb-0 pb-0 mt-20 overflow-hidden">
  <div class="max-w-screen tcc-flex flex-col">
    <fa-icon [icon]="['fas', 'user']" size="lg" style="color:red; background-color:blue;" />
    <!-- TODO remove -->
    <p>Find cars for compare prices</p>
    <h1>Find Your Dream Car</h1>
    <img ngSrc="assets/images/car_default.png" alt="" class="hidden md:block" height="713" width="2332">
    <div class="h-10 w-100 p-4 border-tertiary bg-primary-light tcc-flex gap-1 hover:border" style="border-radius:24px;">
      <input type="text" placeholder="todo..." class="outline-none">
      <span class="bg-red-600 p-1" style="border-radius: 64px"> <fa-icon [icon]="['fas', 'home']" size="lg" /> lupa</span>
    </div>
    <img ngSrc="assets/images/car_default_mobile.svg" alt="" class="block md:hidden" height="276" width="393">
    <h3>Browse by Type</h3>
  </div>
</main>
