@use '../../../node_modules/@angular/material/index' as mat;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@include mat.core();

/*
Table of Contents
--------------------------------------------------
1. Default
  - 2.1 Mixin -> font-setting on body
  - 2.2 Each  -> typography Headers + font-setting
2. Layer Components

/*
1. Default
  -------------------------------------------------------------------------------- */
@mixin font-setting($family: 'Inter', $weight: 400, $size: 16px, $line-height: 1.5) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$font-sizes: (
  h1: (base: 1.5rem, scale: 3vw),
  h2: (base: 1.25rem, scale: 2.5vw),
  h3: (base: 1rem, scale: 2vw),
  h4: (base: 0.875rem, scale: 1.5vw)
);

@each $header, $sizes in $font-sizes {
  #{$header} {
    @include font-setting('Roboto', 700, calc(map-get($sizes, base) + map-get($sizes, scale)), 1.2);
    letter-spacing: 0.05em;
  }
}

/*
2. Layer Components
  -------------------------------------------------------------------------------- */
@layer components {
  body {
    @include font-setting('Roboto', 300);
  }

  .open-dropdown {
    @apply
    flex
    items-center
    gap-1
    w-5
    hover:scale-105;

    li {
      @apply
      block
      px-4
      py-2
      text-sm
      rounded-md
      cursor-pointer;
    }
  }

  .active {
    @apply ring-2 ring-highlight dark:ring-highlight-light shadow-lg;
  }

  .tcc-shared-bar {
    @apply
    fixed
    w-full
    left-0
    z-40
    duration-300
    overflow-hidden;

    span {
      @apply
      flex-grow;
    }
  }

  .max-w-screen {
    @apply
    mx-auto
    py-4
    px-4
    xl:px-2
    w-full;
  }

  .tcc-navbar-mobile {
    @apply fixed top-10 left-0 w-full z-40;
  }

  .card {
    @apply
    rounded
    border
    border-gray-300
    shadow-lg
    hover:shadow-xl
    transition-shadow
    duration-300
    ease-in-out
    p-4
  }

  .browse-type {

    .card {
      height: 116px;
      width: 116px;
    }
  }

  .menu-overlay {
    @apply fixed top-0 right-0 w-64 h-full bg-white shadow-lg transition-transform duration-500 ease-in-out;
  }
  .menu {
    @apply flex flex-col;
  }

  .navbar-link {
    @apply flex items-center p-3 space-x-3 hover:bg-secondary-light dark:hover:bg-secondary rounded-lg
  }

  .vehicle-stat {
    @apply flex flex-row items-baseline gap-2
  }

  .stat-header {
    @apply tracking-wide text-highlight dark:text-highlight-light font-thin w-36
  }

  .stat-content {
    @apply text-lg font-normal tracking-wide
  }

  .history-table-header {
    @apply p-2 tracking-wide text-highlight dark:text-highlight-light font-medium text-start
  }
}

/*
4. TODO +
  -------------------------------------------------------------------------------- */
