@use '../../../node_modules/@angular/material/index' as mat;
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap');

@include mat.core();

@tailwind base;
@tailwind components;
@tailwind utilities;

/*
Table of Contents
--------------------------------------------------
1. Default
  - 1.1 Mixin -> font-setting on body
  - 1.2 Each  -> typography Headers + font-setting

2. Angular Material
   - 2.1 Core Styles
   - 2.2 Theme Definition
   - 2.3 Apply Theme to Root

3. Layer Components
4. TODO +
----------------------------------------------- */

/* 1. Default
  -------------------------------------------------------------------------------- */
@mixin font-setting($family: 'Inter', $weight: 400, $size: 16px, $line-height: 1.5) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-size: $size;
  line-height: $line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$font-sizes: (h1: 2.5rem, h2: 2rem, h3: 1.75rem, h4: 1.5rem);

/*
2. Angular Material
  -------------------------------------------------------------------------------- */
@include mat.core();
$car-price-compare-frontend-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($car-price-compare-frontend-theme);
}

/*
3. Layer Components
  -------------------------------------------------------------------------------- */
@layer components {
  body {
    @include font-setting('Inter', 300);

    @apply
    bg-av-bg-primary-light
    dark:bg-av-bg-primary
    text-av-primary-light
    dark:text-av-primary
  }

  @each $header, $size in $font-sizes {
    #{$header} {
      @include font-setting('Roboto', 700, $size, 1.2);
      letter-spacing: 0.05em;
    }
  }

  a {
    @apply
    text-av-highlight-light
    dark:text-av-highlight
  }

  .dropdown-menu > ul {
    @apply
    absolute
    right-0
    mt-2
    w-48
    rounded-md
    shadow-lg
    bg-gray-100
    ring-1
    ring-black
    ring-opacity-5
    z-10;
  }

  .links-style {
    @apply
    block
    px-4
    py-2
    text-sm
    text-gray-700
    hover:bg-indigo-600
    hover:text-white;
  }

  .open-dropdown {
    @apply
    flex
    items-center
    gap-1
    w-5
    hover:scale-105;

    li {
      @apply
      block
      px-4
      py-2
      text-sm
      text-slate-950
      rounded-md
      hover:bg-slate-200
      transition-colors
      cursor-pointer;
    }
  }

  .av-shared-bar {
    @apply
    fixed
    w-full
    left-0
    z-50
    transition-shadow
    duration-300
    overflow-hidden;

    .max-w-screen-xl {
      @apply
      flex
      items-center
      justify-between
      mx-auto
      py-4
      px-4
      xl:px-2
      w-full;
    }

    span {
      @apply
      flex-grow;
    }
  }

  .tcc-navbar-mobile {
    @apply fixed top-10 left-0 w-full z-40;
  }
}

/*
4. TODO +
  -------------------------------------------------------------------------------- */
