/* Table of Contents
  ------------------
  1. Default
  2. Angular Material
  --------------- */

/*
  1. Default
  ---------------------------------------------------------------------- */
::-webkit-scrollbar
  width: 8px
::-webkit-scrollbar-track
  background: #2D3748
::-webkit-scrollbar-thumb
  background: #CBD5E0
::-webkit-scrollbar-thumb:hover
  background: #718096

html,
body
  margin: 0
  padding: 0
  box-sizing: border-box
  @apply transition-colors duration-300 ease-in-out
  &.dark
    @apply bg-primary text-primary-light

a,
li,
button,
fa-icon
  text-decoration: none
  list-style: none
  cursor: pointer

/*
  2. Angular Material
  ---------------------------------------------------------------------- */
.cdk-overlay-pane
  margin-top: 2px

.mat-mdc-menu-content
  border-radius: 2px
  @apply mt-1 border border-primary
  .mat-mdc-menu-item-text
    padding: 4px 8px
    &:hover, &:focus
      @apply bg-tertiary-light outline-none

html.dark
  .mat-mdc-menu-content
    @apply border-primary-light
    .mat-mdc-menu-item-text
      padding: 4px 8px
      &:hover, &:focus
        @apply bg-tertiary outline-none
