/* Table of Contents
  ------------------
  1. Default
  --------------- */

/*
 1. Default
  ---------------------------------------------------------------------- */
::-webkit-scrollbar
  width: 8px
::-webkit-scrollbar-track
  background: #2D3748
::-webkit-scrollbar-thumb
  background: #CBD5E0
::-webkit-scrollbar-thumb:hover
  background: #718096

html,
body
  margin: 0
  padding: 0
  box-sizing: border-box
  &.dark
    @apply bg-av-bg-primary
*
  margin: 0
  padding: 0
  box-sizing: border-box

a,
li,
button,
fa-icon
  text-decoration: none
  list-style: none
  cursor: pointer
